@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.143 0.005 314.77413915025863);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.143 0.005 314.77413915025863);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.143 0.005 314.77413915025863);
  --primary: oklch(0.618 0.251 311.6570064185176);
  --primary-foreground: oklch(0.960 0.004 314.80795081160926);
  --secondary: oklch(0.966 0.008 314.788564637631);
  --secondary-foreground: oklch(0.204 0.028 314.15135448115257);
  --muted: oklch(0.966 0.008 314.788564637631);
  --muted-foreground: oklch(0.512 0.116 313.6013511131713);
  --accent: oklch(0.885 0.051 314.54526349416165);
  --accent-foreground: oklch(0.196 0.058 313.0400817960368);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.880 0.027 314.67590194689313);
  --input: oklch(0.880 0.027 314.67590194689313);
  --ring: oklch(0.618 0.251 311.6570064185176);
  --chart-1: oklch(0.618 0.251 311.6570064185176);
  --chart-2: oklch(0.752 0.139 313.8755592435158);
  --chart-3: oklch(0.856 0.065 314.46009044804254);
  --chart-4: oklch(0.525 0.263 308.32527470487713);
  --chart-5: oklch(0.433 0.211 309.20266657090826);
  --sidebar: oklch(0.966 0.008 314.788564637631);
  --sidebar-foreground: oklch(0.204 0.028 314.15135448115257);
  --sidebar-primary: oklch(0.618 0.251 311.6570064185176);
  --sidebar-primary-foreground: oklch(0.960 0.004 314.80795081160926);
  --sidebar-accent: oklch(0.885 0.051 314.54526349416165);
  --sidebar-accent-foreground: oklch(0.196 0.058 313.0400817960368);
  --sidebar-border: oklch(0.880 0.027 314.67590194689313);
  --sidebar-ring: oklch(0.618 0.251 311.6570064185176);
}

.dark {
  --background: oklch(0.202 0.033 313.9965237584906);
  --foreground: oklch(0.960 0.004 314.80795081160926);
  --card: oklch(0.242 0.044 313.8859717259176);
  --card-foreground: oklch(0.960 0.004 314.80795081160926);
  --popover: oklch(0.242 0.044 313.8859717259176);
  --popover-foreground: oklch(0.960 0.004 314.80795081160926);
  --primary: oklch(0.618 0.229 312.22408156559857);
  --primary-foreground: oklch(0.960 0.004 314.80795081160926);
  --secondary: oklch(0.311 0.052 313.9738186850639);
  --secondary-foreground: oklch(0.957 0.010 314.7783356304845);
  --muted: oklch(0.311 0.052 313.9738186850639);
  --muted-foreground: oklch(0.705 0.043 314.5293416161851);
  --accent: oklch(0.445 0.171 312.02295480295254);
  --accent-foreground: oklch(0.952 0.021 314.719240781309);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.387 0.084 313.6801969705345);
  --input: oklch(0.387 0.084 313.6801969705345);
  --ring: oklch(0.618 0.229 312.22408156559857);
  --chart-1: oklch(0.618 0.229 312.22408156559857);
  --chart-2: oklch(0.700 0.188 313.2907349299819);
  --chart-3: oklch(0.793 0.134 313.97023236144173);
  --chart-4: oklch(0.504 0.220 311.0387906037783);
  --chart-5: oklch(0.420 0.160 312.0698671555701);
  --sidebar: oklch(0.317 0.065 313.755112282557);
  --sidebar-foreground: oklch(0.960 0.004 314.80795081160926);
  --sidebar-primary: oklch(0.618 0.229 312.22408156559857);
  --sidebar-primary-foreground: oklch(0.960 0.004 314.80795081160926);
  --sidebar-accent: oklch(0.445 0.171 312.02295480295254);
  --sidebar-accent-foreground: oklch(0.952 0.021 314.719240781309);
  --sidebar-border: oklch(0.387 0.084 313.6801969705345);
  --sidebar-ring: oklch(0.618 0.229 312.22408156559857);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}